* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    margin-top: 25px;
    margin-left: 45px;
}

.nav {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    min-height: 100px;
    position: fixed;
    top: 0;
    display: inline;
    z-index: 110;
}

.container {
   width: 100%;
   box-sizing: border-box;
}

.home-title {
    font-size: calc(2.4vw + 9px) !important;
}


#main-menu {
    float: right;
    margin-top: 25px;
    color: #aaaaaa;
    font-size: 15px;
    padding: 14px;
 
}

#main-menu .hasSub {
    position: center;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    display: inline;
    
}



#header {
    background: linear-gradient(
        rgba(0,0,0,.40),rgba(0,0,0,.3)
      ), url("../images/car.jpg");
    padding-top: 30px;
    background-size: cover;
    color: #ffffff;
    position: relative;
    width: 100%;
    height: 600px;
}

/* .sessions {
    width: 100%;
    position: absolute;
} */
/* 
#header nav {
    text-align: right;
}

#header nav ul, #header nav li {
    display: inline;
    margin: 0;
    padding: 0;
  
} */

#header .title {
    position: absolute;
    text-align: center;
    left: 0;
    top: 30%;
    transform: translate(0, -30%);

}

#search {
    position: relative;
}

#searchbox {
    position: relative;
}

#sessions {
    width: 89%;
    margin: auto;
}

#sessions img {
    padding: 15px;
    display: inline-block;
    position: relative;
    align-content: center;
}

#ui-view {
    background: #ffffff;
}


footer {
    background: #000;
    overflow: hidden;
    position: relative;
    z-index: 2;
    width: 100%;
}
#footer-top {
    text-align: center;
    max-width: 870px;
    margin: 25px auto 25px;
    background: #000;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 185%;
    font-family: 'Lato', sans-serif;
}

#footer-top h3 {
    display: inline;
}

#footer-top ul.social {
    display: inline;
    text-align: center;
}

#footer-top ul.social li {
    display: inline-block;
    margin-right: 10px;
    box-sizing: border-box;
}

#footer-bottom {
    background: #666;
    text-align-last: center;
    font-size: 75%;
}

#icon {
    content: "\f09a";
}

.fa {
    display: inline-block;
    text-rendering: auto;
    color: #ffffff;
}

a {
    text-decoration: none;
}

/* ul {
    list-style-type:none;
} */

.wrapper {
    margin: 0 auto;
    display: block;
}
