<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Ascary</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <script src="controllers/homeController.js "></script>
</head>

<body>
    <header id="header" class="page-home">

        <nav class="nav">
            <div class="row">
                <div class="col col-desktop-2 logo">
                    <img src="images/logo.png" alt="logo ascary">
                </div>
                <div id="main-menu" class="col col-desktop-12">

                    <ul>
                        <li class="hasSub">
                            <a href="#home">Home</a>
                        </li>
                        <li class="hasSub">Cadastre-se</li>
                        <li class="hasSub">Torne-se um parceiro</li>
                        <li class="hasSub">Fórum</li>
                        <li class="hasSub">Entrar</li>
                        <li class="hasSub">Contato</li>
                    </ul>

                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col col-desktop-12 title">
                <div class="form-group col-sm-8 offset-sm-2">
                    <h1 class="home-title">Encontre rodas incríveis</h1>
                    <form id="searchbox">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Experimente: 'Rodas Porsche Fuchs'" ng-model="filtro" aria-label="Recipient's username"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <a>
                                    <button class="btn btn-dark" type="button" data-ng-click="searchWheels(filtro)">Buscar</button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>

        </div>
        </div>

    </header>
    <main id="anchor">
        <div id="ui-view" class="col col-desktop-12" ui-view></div>
    </main>
    <footer>
        <div id="footer-top">
            <div class="wrapper">
                <h3>Siga-nos</h3>
                <ul class="social">
                    <li>
                        <a target="_blank" href="https://www.ascary.com.br">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.ascary.com.br">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>

        </div>
        <div id="footer-bottom">
            O parceiro que anuncia nesta página é o único responsável pelas transações comerciais que realizar com usuários do web site
            do Ascary. A comercialização do produto anunciado, bem como a garantia de sua legítima procedência, é de inteira
            responsabilidade do anunciante, não sendo o Ascary responsável por quaisquer danos diretos e/ou causados a terceiros,
            advindo da exibição dos anúncios em desacordo com o Código de Defesa do Consumidor e outras legislações aplicáveis
            ao comércio e/ou prestação de serviços por parte do anunciante.
            </br>
            <strong>© 2018 Ascary. Todos os direitos reservados.</strong>
        </div>
    </footer>
</body>

</html>