 <div class="form-group">
            <div class="col-sm-5 offset-sm-8">
                <form>
                    <h6 class="col-sm-7">Pesquisar JogoDeRodas</h6>

                    {{brands}}
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <input class="form-control form-control-sm" placeholder="Palavra-chave">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <select class="form-control form-control-sm">
                                <option>Estado</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <select class="form-control form-control-sm">
                                <option>Cidade</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <select class="form-control form-control-sm" ng-change="selectBrand" ng-model="" ng-options="">
                                <option>Marca</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <select class="form-control form-control-sm" ng-options="brand.marca for brand in brands" ng-model="brand">
                                    <option value="">Tipo</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <select class="form-control form-control-sm">
                                <option>Condição</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <select class="form-control form-control-sm">
                                <option>Diâmetro</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <select class="form-control form-control-sm">
                                <option>Preço Min</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2">
                            <select class="form-control form-control-sm">
                                <option>Preço Max</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>